{% extends "base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Header for the Sign In form -->
    <h2 class="text-center">Sign In</h2>

     <!-- Main Message -->
     <p class="lead text-center">Welcome back! <br> Ready to conquer your travel planning and stay organized? <br> Log in and let's get started!</p>

    <!-- Begin form to handle user login -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form method="POST" action="{% url 'account_login' %}">
                <!-- CSRF token for security purposes -->
                {% csrf_token %}

                <!-- Render the login form fields with spacing above and below -->
                <div class="mb-4 mt-4">
                    {{ form.as_p }}
                </div>

                <!-- Submit button for signing in -->
                <button type="submit" class="btn btn-primary w-100">Sign In</button>
            </form>

            <!-- Link to registration page for new users -->
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'account_signup' %}">Register here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}